# Python & Scripts
__pycache__/
*.py[cod]
*$py.class
*.py
*.env
.venv/
venv/
ENV/
the_cure_python_lyrics/

# Audio
*.mp3
*.wav

# IDE / Editor / System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Extra workspace directories
portfolio-website/
